.channel-details,
.theme-details {
  height: 200px;
}

.theme-error {
  display: "flex";
  flex-direction: "column";
  gap: 1rem;
}

.center-box,
.channel-header {
  display: flex;
  align-items: center;
  gap: var(--radius-lg);
  margin-bottom: var(--radius-lg);
}

.column-box,
.channel-labels {
  display: flex;
  flex-direction: column;
  gap: var(--radius-lg);
  margin-bottom: var(--radius-lg);
}

.avatar {
  width: var(--image-size);
  height: var(--image-size);
}

.channel-box,
.tabs-box {
  width: 100%;
}

.unclassified-box,
.unclassified-channel-box {
  margin-top: var(--radius-lg);
}
