.delete-container {
  display: flex;
  justify-content: center;
  margin-top: var(--c--globals--spacings--md);
}

.delete-alert {
  margin-top: 0 !important;
}

.delete-container p {
  font-size: var(--c--globals--font--sizes--md);
  margin: var(--c--globals--spacings--md) 0;
  gap: 7rem;
}

.buttons-action {
  display: flex;
  gap: var(--c--globals--spacings--xs);
}
