.tags-loading {
  display: flex;
  align-items: center;
  gap: var(--radius-sm);
  padding: var(--radius-sm) 0;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--radius-sm);
  margin-top: var(--radius-md);
}

.tag-chip {
  cursor: pointer;
  padding: 20px;
  border-radius: 9999px;
  color: var(--c--contextuals--content--semantic--neutral--on-neutral);
  font-size: 0.95rem;
  font-weight: 700;
}

.tag-chip:hover {
  box-shadow: none;
}

.tag-color-0 {
  background-color: var(--c--contextuals--background--palette--pink--primary);
}

.tag-color-1 {
  background-color: var(--c--contextuals--background--palette--purple--primary);
}

.tag-color-2 {
  background-color: var(--c--contextuals--background--palette--blue-1--primary);
}

.tag-color-3 {
  background-color: var(--c--contextuals--background--palette--orange--primary);
}

.tag-color-4 {
  background-color: var(--c--contextuals--background--palette--red--primary);
}
