.login-content {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-content h1 {
  padding: var(--c--globals--spacings--base) 0;
  text-align: center;
}

.login-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--c--globals--spacings--base);
  margin: auto;
  padding-top: var(--c--globals--spacings--md);
  align-items: center;
}
