.navbar {
  background-color: var(--c--globals--colors--gray-000); /* Solid white background */
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: var(--c--globals--spacings--sm);
  border-bottom: 1px solid var(--c--globals--colors--gray-200); /* Thin GitHub style border */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--navbar-height);
  z-index: 900;
}

.navbar-search {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.navbar-search-mobile {
  margin-left: auto;
  margin-right: var(--c--globals--spacings--sm);
  font-size: var(--c--globals--font--sizes--h1);
}

.navbar-search-mobile span {
  font-size: var(--c--globals--font--sizes--h1);
}

.navbar-search-dialog {
  padding: var(--c--globals--spacings--md);
}

.navbar-logo {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
}

.navbar-button-menu {
  font-size: var(--c--globals--font--sizes--h1);
  border: 0;
  color: var(--text-color);
  background: none;
  padding: 0 var(--c--globals--spacings--sm) 0 var(--c--globals--spacings--sm);
  cursor: pointer;
}

.navbar-logo img {
  height: 35px;
}

html[data-theme="dark"] .navbar-logo img {
  filter: brightness(0) invert(1) drop-shadow(0 0 2px rgba(255, 255, 255, 0.4));
}

.navbar-logo strong {
  font-size: var(--c--globals--font--sizes--h2);
}

.navbar-profil {
  margin-right: var(--c--globals--spacings--xxl);
}

.navbar-profil-menu {
  display: flex;
  flex-direction: column;
}

.button-close {
  align-self: flex-end;
}

.navbar-profil-menu-name-user {
  margin-left: 16px;
  margin-bottom: var(--c--globals--spacings--xs);
  font-size: var(--c--globals--font--sizes--h6);
  background-color: var(--c--contextuals--background--semantic--brand--primary);
  color: var(--c--globals--colors--white-000);
  padding: var(--c--globals--spacings--st);
  display: inline-block;
  width: fit-content;
}

.menu-item-icon {
  margin-right: var(--c--globals--spacings--s);
}

/* Styles for small screens & tablets */
@media (max-width: 1024px) {
  .navbar-logo strong {
    display: none;
  }
  .navbar-button-display {
    display: none;
  }
  .navbar-button {
    padding: var(--c--globals--spacings--s);
  }
  .menu-item-icon {
    padding-left: var(--c--globals--spacings--md);
  }
  .navbar-profil-menu-name-user {
    margin-left: var(--c--globals--spacings--md);
    margin-bottom: var(--c--globals--spacings--md);
  }
  .navbar-profil-menu {
    padding-top: 20px;
  }
  .navbar-profil {
    margin-left: 0px;
  }
}
