.sidebar {
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: var(--c--globals--colors--gray-000);
  /* Solid white background */
  padding-top: 20px;
  color: var(--text-color);
  margin-top: var(--navbar-height);
  border-right: 1px solid var(--c--globals--colors--gray-200);
  /* Thin GitHub style border */
  transition: all 0.3s ease;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.open {
  width: var(--sidebar-open);
}

.closed {
  width: 70px;
}

.menu-title {
  font-weight: var(--c--globals--font--weights--bold);
  font-size: var(--c--globals--font--sizes--m);
  transition-property: color;
  transition-duration: 0.2s;
  padding: var(--c--globals--spacings--m) 0 var(--c--globals--spacings--m) 16px;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  padding-bottom: var(--c--globals--spacings--md);
}

.navbar-profil-menu {
  display: flex;
  flex-direction: column;
}

.button-close {
  align-self: flex-end;
}

.menu-item,
.menu-dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 12px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: var(--c--globals--font--sizes--sm);
  cursor: pointer;
}

.menu-item span {
  font-size: var(--c--globals--font--sizes--h3);
  padding-right: var(--c--globals--spacings--base);
}

.menu-item a {
  padding-right: var(--c--globals--spacings--s);
}

.menu-item:hover {
  background: rgb(
    from var(--c--contextuals--background--semantic--brand--primary) r g b / 20%
  );
}

.main-menu-dropdown {
  padding-left: var(--c--globals--spacings--l);
  background: rgb(
    from var(--c--contextuals--background--semantic--brand--primary) r g b / 20%
  );
}

/* For Mobile & Tablets screens */
@media (max-width: 1024px) {
  .open {
    width: 100%;
    height: 100%;
  }

  .closed {
    width: 0;
    overflow: hidden;
  }

  .sidebar {
    margin-top: 0px;
  }

  .menu {
    margin-left: 16px;
  }
}
