.footer {
  background: rgb(
    from var(--c--contextuals--background--semantic--brand--primary) r g b / 50%
  );
  color: var(--text-color);
  font-size: var(--c--globals--font--sizes--xs);
  padding: var(--c--globals--spacings--md);
  padding-left: var(--c--globals--spacings--xl);
  margin-left: 60px;
  transition: all 0.4s ease;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: var(--c--globals--spacings--s);
}

.footer-contact-univ address {
  font-style: normal;
}
.footer-contact-univ-logo {
  position: relative;
  height: 42px;
  width: 150px;
}

.footer-contact-univ-logo-image {
  object-fit: contain;
  object-position: left center;
}

.footer-link a,
.footer-link-esup a {
  padding: var(--c--globals--spacings--xs) var(--c--globals--spacings--s) 0 0;
  font-weight: var(--c--globals--font--weights--bold);
  color: var(--text-color);
  text-transform: uppercase;
}

.footer-extra-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--c--globals--spacings--xs);
}

.footer-extra-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-extra-link-icons img {
  object-fit: contain;
}

.footer-extra-link-icon {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: var(--c--globals--spacings--xxs);
}
.footer-link-esup {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-link {
  padding-top: var(--c--globals--spacings--xs);
  display: flex;
  flex-wrap: wrap;
}

.credits-infos {
  text-align: center;
  font-size: var(--c--globals--font--sizes--t);
}

/* For Mobile & Tablets screens */
@media (max-width: 1024px) {
  .footer {
    margin-left: 0px;
  }
  .footer-content,
  .footer-link {
    flex-direction: column;
    align-items: start;
  }
}
