.content-box {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 700px;
}

.title {
  --shared-title-font-size: 2rem;
  --shared-title-font-weight: var(--c--globals--font--weights--bold, 700);
  --shared-title-margin-top: 0;
  --shared-title-margin-right: 0;
  --shared-title-margin-bottom: 0;
  --shared-title-margin-left: 0;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.desc {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  opacity: 0.85;
}
